@charset "UTF-8";

// coomon
body {
  height: 3000px;
  color: #333;
  font-size: 16px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  line-height: 1.4;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
.btn {
  display: block;
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: #fff;
    background-color: #333;
  }
  &.btn--reverse {
    color: #fff;
    background-color: #333;
    &:hover {
      color: #333;
      background-color: transparent;
    }
  }
  &.btn--brown {
    color: #592b1b;
    background-color: transparent;
    border: 2px solid #592b1b;
    &:hover {
      color: #fff;
      background-color: #592b1b;
    }
  }
  &.btn--gold {
    color: #d9aa8a;
    background-color: #d9aa8a;
    &:hover {
      color: #fff;
      background-color: #d9aa8a;
    }
  }
  &.btn--white {
    color: #fff;
    background-color: #fff;
    &:hover {
      color: #333;
      background-color: #333;
    }
  }
}